@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


html,body{
  margin: 0;
  height: 100%;
  width: 100%;
  display: block;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  padding: 0;

}








/* .parallax {
     The image used
    background-image: url("");

     Set a specific height
    height: 500px;
    height: 100%;
    width: 100%;

    Create the parallax scrolling effect
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 */


/*header*/
header {
  height: 100%;
}

.bg-inverse {
    background-color: #4e4a4a!important;
}

.navbar-inverse .navbar-toggler {
    border-color: black;
}


.navbar-inverse .navbar-toggler-icon {
    background-image: url("images/LetterM.jpg");
    /* background-image: url(data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E); */
}


img{
  width:100%;
  max-width: 100%;
  height:auto;
}




.row {
    padding-bottom: 10px;
}


.logo{
  width:5%;
  height:auto;
}


.nav-item {
    float: left;
    padding: 0 50px;
}








.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: inherit;
    margin-right: inherit;
    width: /*whatever width you want*/;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    color: white;
}

.inner h1 {
  font-size: 60px;
  }


.inner h2 {
  font-size:40px;
}

.inner h3 {
  position: center center;
  font-size:25px;
}









.bg {
  position: fixed;
  background: url("images/IMG_1664.JPG") center center;/*chosen image =>you image*/
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: scroll;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /*-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    /*filter: blur(5px);*/
    z-index: -1;
      overflow: hidden;
}

.bgt {
  position: absolute;
  background: #gray  center center;/*chosen image =>you image*/
  width: 100%;
  height: 100%;
  background-size: cover;
}

.jumbotron {
    position: relative;
    padding: .2rem .2rem;
    width: 100%;
    height: 100%;
    color: black;
}

/*global css*/


.learn {
  font-size: 1.5;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}
.full-height {
  min-height: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
}








/* ABOUT */
.aboutimg{
  background: url("images/DSC00589.JPG");
  background-repeat: no-repeat;
  background-size: 1100px;
  background-position: 50%;
  background-position-x:42%;
  background-position-y:54%;
  border-radius: 50%;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  margin-top: 80px;
  padding-top: 80px;
  vertical-align: middle;
  text-align: center;
  position: relative; /*makes left effective*/
  display:table-cell;

}


.display-2  {
  margin-top: 10px;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}



.col-md-6 {
  text-align: justify;
  text-shadow: 2px 2px 10px #000000;
  min-height: 20px;
  font-size: 20px;
  margin-top: 10px;
}





/* PORTFOLIO */
.display-1 {
  margin-top: 30px;
  padding-top: 10px;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}


.full-height p {
    font-size: 1.1em;
}

.full-height .col-sm-6 {
    margin: 10px auto;
}

.full-height .col-sm-6 img {
    border-radius: 10px;
    height: 200px;
}

.full-height .col-sm-6 .github-link {
  display: block;
  position: relative;
  max-width: 320px;
  margin: 0 auto;
}


.full-height .col-sm-6 .github-link .note {
    background: #C5B1CC;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

.full-height .col-sm-6 .github-link .note:hover {
    opacity: 1;
}

.full-height .col-sm-6 .github-link .note .note-content {
    position: absolute;
    width: 100%;
    height: 0px;
    font-size: 20px;
    text-align: center;
    margin-top: -12px;
    top: 50%;
    color: white;
}

.full-height .col-sm-6 .github-link .note .note-content i {
    margin-top: -12px;
    color: #D6D6D6;
}

.full-height .col-sm-6 .github-link .note .note-content p {
  font-size: 14px;
  margin-top: -36px;
}

a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}

.p{
  padding: 30px;
}

._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}



/*SKILLS*/

h4 {
text-align: center;
margin-top: 20px;
padding-top: 70px;

}

h4 i{
  padding-left: 20px;
}

h5 {
text-align: center;
font-size: 1em;
}

h6 {
  text-align: center;
  text-decoration:underline;
  font-size: 1em;
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 10px; /* Add some right padding */
    line-height: 20px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}

.icon-html5-alt {color: #E34C26; border-color: #E34C26;}
.icon-css3-alt {color: #2196F3; border-color: #2196F3;}
.icon-bootstrap {color: #cdbfe3; border-color: #cdbfe3;}
.icon-ruby {color: #cc3333; border-color: #cc3333;}
.icon-ruby-on-rails-alt {  color: #8B0000; border-color: #8B0000;}
.icon-jquery{color: #0769ad; border-color: #0769ad;}
.icon-javascript{ color: #e5bb31; border-color: #e5bb31;}



@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);


/*FOOTER*/

ul {
    padding:0;
    list-style: none;
}


.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}

.social-icon {
    color: #fff;
    padding: 20px;
}

ul.social-icons {
  padding: 0;
  margin: 30px auto 30px auto;
}

.social-icons li {
  list-style-type: none;
  text-align: center;
  display: inline;
  padding: 10px;
}

.social-icons a {
  font-size: 36px !important;
  background: ##1868b1;
  color: #444444;
  width: 48px;
  height: 48px;
  margin: 20px auto 20px auto;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}


.social-icons i {
    font-size: 36px !important;
    background: #D6D6D6;
    color: #444444;
    width: 48px;
    height: 48px;
    margin: 20px auto 20px auto;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.social-icons i:hover {
    color: #3148da;
    background: #171616;
}




.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-rss:hover {
    background-color: #eb8231;
}

.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-youtube:hover {
    background-color: #e64a41;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}


.fa-google-plus:hover {
    background-color: #e25714;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
