@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.background {
  background-image: url("horizon.jpg");
  width: 100%;
  height: 500px;
  background-attachment: scroll;
  background-size: cover;
  background-position: bottom right, left, right;
}

.navbar-header {
  float: right;
  overflow: hidden;
  backgrounnd-color: #333;
}

.navbar-header a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-header a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: ;
  color:;
}


.title1{
  float: left;
  color: #ffffff;
 text-shadow: none;
 text-transform: none;
 font-family:monospace;
 font-size: 57px;
 font-weight: 500;
 font-style: normal;
 line-height: 56px;
 letter-spacing: 0;
 padding: 90px 0 0 90px;
 line-height: 60px;
 width: 75%;
}

.title2{
  float: left;
  color: #ffffff;
 text-shadow: none;
 text-transform: none;
 font-family:monospace;
 font-size: 30px;
 font-weight: 400;
 font-style: normal;
 line-height: 56px;
 letter-spacing: 0;
 padding: 0 0 0 90px;
 line-height: 60px;
 width: 75%;
}


.aboutbg{
  width: 100%;
  height: 500px;
  background-attachment: scroll;
  background-size: cover;
  background-position: bottom right, left, right;
}

.portbg{
  background-color:white;
  width: 100%;
  height: 500px;
  background-attachment: scroll;
  background-size: cover;
  background-position: bottom right, left, right;
}

.cbg{
  background-color:white;
  width: 100%;
  height: 500px;
  background-attachment: scroll;
  background-size: cover;
  background-position: bottom right, left, right;
}



.aboutt{
  float: left;
  color: #0000;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  text-shadow: none;
  text-transform: none;
  font-family:monospace;
  font-size: 36px;
   font-weight: 400;
   font-style: normal;
   line-height: 56px;
   letter-spacing: 0;
   padding: 0 0 0 90px;
   line-height: 60px;
   width: 100%;
}




.boximg {
  float: left;
  padding-top: 40px;
  width: 25%;
}

.boximg img {
  border-radius: 50%;
  width: 200px;
  height: auto;
}


.p1{
  float: left;
  color: #ffffff;
 text-shadow: none;
 text-transform: none;
 font-family:'Great Vibes';
 font-size: 25px;
 font-weight: 400;
 font-style: normal;
 line-height: 56px;
 letter-spacing: 0;
 padding: 70px 0 0 90px;
 line-height: 20px;
 width: 70%;
}


.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.col-lg-12{
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-right: 15px;
}

.aboutt {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  font-size: 36px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: black;
  box-sizing: border-box;
}

.portf {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  font-size: 36px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: black;
  box-sizing: border-box;
}

.cntac {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  font-size: 36px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: black;
  box-sizing: border-box;
}


.cpanel{
  border-color: #ddd;
}

.panel {
  margin-bottom: 20px;
  background-color: black;
  opacity: .6;
  border: 1px solid transparent;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-sizing: border-box;
}


.col-md-4{
  float: left;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.col-sm-6{
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
}


.cpanel > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    text-align:center;
}

.panel-body{
  padding: 15px;
  box-sizing: border-box;
}

.col-xs-6 col-md-4{
  width: 33.33%;
  font-family: monospace;
  text-align: center;
}

.p{
  text-align: justify;
  color: white;
}

.p2{
  font-family: inherit;
  text-align: center;
  font-size: 15px;
  color: black;
  }

.a{
    color: #337ab7;
    text-decoration: none;
    text-decoration-color: currentcolor;
    text-decoration-line: none;
    text-decoration-style: solid;
    background-color: transparent;
}

.img-portfolio{
  margin-bottom: 30px;
}

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;

}

.img{
  vertical-align: middle;
  border: 0;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
  box-sizing: border-box
}


body{

}
